*{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}   
:root{
    --primary-text-color:#fff;
    --seconfry-text-color:#222;
    --background-color:#fff;
    --primary-fs:1.2em;
    --secondry-fs:2em;
    --fw-text:800;

}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button:hover {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body{
    padding: 20px 50px; 
    background-color: #222;
}
header .top-header{
    display: flex;
    justify-content: space-between;
    color: var(--primary-text-color);
    font-size: var(--primary-fs);
}
header .top-header .btn{
    font-size: 2em;
    padding: 5px 10px;
    background-color: var(--primary-text-color);
    border: 1px solid;
    font-weight: var(--fw-text);
    letter-spacing: 2px;
    cursor: pointer;
    border: none;
}
header .top-header .between{
    font-size: var(--primary-fs);
}
header h1{
    color: var(--primary-text-color);
    text-align: center;
    font-weight: var(--fw-text);
    font-size: 2.5em;
    padding: 20px 0;
}
main{
    display: flex;
    justify-content: space-around;
    color: var(--primary-text-color);

}
main .left .number{
 width: 150px;
 height: 75px;
 background-color: transparent;
 color: var(--background-color);
 font-size: 2.5em;
 text-align: center;
 margin-bottom: 20px;
}
main .left .left-btn{
    display: flex;
    flex-direction: column;
} 
main .left .left-btn .guess{
    text-align: center;
    width: 150px;
    height: 75px;
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 30px;
    background-color: transparent;
    border: 4px solid #fff;
    color: #fff;
}
main .left .btn{
    font-size: 1.6em;
    padding: 5px 10px;
    background-color: var(--primary-text-color);
    border: 1px solid;
    font-weight: var(--fw-text);
    cursor: pointer;
}
.number{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--fw-text);
    width: 150px;
    height: 75px;
    margin: 50px auto;
    background-color: var(--background-color);
    font-size: 2.8em;
}
.number p{
    font-size: 1.4em;
}
main .right .message{
    margin-bottom: 20px;
    font-size: var(--primary-fs);
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: capitalize;
}
main .right .label-score{
    margin-bottom: 10px;
    font-size: var(--primary-fs);
}
main .right .label-highscore{
    font-size: var(--primary-fs);
}